html{
  font-size: 8px;
}
body{
  align-items: center;
  background: #1F1F24;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
h1{
  font-size: 6rem;
  font-weight: 800;
  line-height: 7rem;
  margin: 1rem 0 2rem 0;
}
h2{
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
h3{
  font-size: 2.25rem;
  font-weight: 500;
  margin: 4rem 0 3rem 0;
}
p{
  font-size: 2rem;
  line-height: 3rem;
  margin: 1rem 0 1rem 0;
}
a{
  align-items: center;
  color: #FFF;
  display: flex;
  font-size: 3rem;
}
a span{
  margin-left: 3rem;
}
.social a img{
  height: auto;
  width: 3rem;
}
.social{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.social a{
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 3rem;
}
.photo{
  border-radius: 2rem;
  height: 27rem;
  margin-right: 5rem;
  max-width: auto;
}
.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 136rem;
  padding: 4rem 4rem 0 4rem;
}
.products{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products a{
  align-items: center;
  display: flex;
  height: 40px;
  padding:  0 3rem 6rem 3rem;
  width: auto;
}
.products a img{
  width: 100%;
}
.hero{
  align-items: center;
  background: #1F1F24;
  color: #FFF;
  display: flex;
  height: calc(100vh - 26rem);
  justify-content: center;
  left: 0;
  padding-top: 10rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;

}
.logo{
  color: #FFF;
  font-size: 4rem;
  font-weight: 800;
  text-decoration: none;
}
nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.desktopNav{
  display: none;
}
.mobileNav{
  align-items: center;
  background: red;
  background: #0E0E12;
  display: flex;
  flex-direction: column;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 4rem;
  position: fixed;
  right: 0;
  top: -38rem;
}
.mobileNav a{
  margin: 2rem 0 2rem 0;
  text-align: center;
  text-decoration: none;
}
.triangle{
  margin-top: calc(100vh - 12rem);
  position: relative;
  filter: drop-shadow(1rem -1rem 1.5rem #000000);
}
.whiteTriangle{
  background: #FFF;
  clip-path: polygon(100% 0%, 0 100%, 100% 100%);
  height: 12rem;
}

.mouse{
  align-items: center;
  border: 2px solid #FFF;
  border-radius: 3rem;
  display: flex;
  height: 6rem;
  justify-content: center;
  margin: 4rem auto 0 auto;
  position: relative;
  width: 4rem;
}
.circle{
  animation: move 2s infinite;
  background: #FFF;
  border-radius: 100%;
  height: 1rem;
  position: absolute;
  top: 1rem;
  width: 1rem;
}
@keyframes move {
  0%   {top: 1rem;}
  50% {top: 4rem;}
  100% {top: 1rem;}
}
.recentWork{
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 4;
}
.section{
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section p {
  padding: 0 4rem;
  color: #797979;
}
.subTitle{
  color: #000;
  font-size: 6.5rem;
  font-weight: 800;
  line-height: 9rem;
  margin: 1rem 0 2rem 0;
  padding: 4rem 4rem 0 4rem;
  text-transform: capitalize;
}
.projects{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  width: 100%;
}
.project{
  border-radius: 2rem;
  box-shadow: 0px 3px 6px #00000029;
  height: 40rem;
  margin-bottom: 5rem;
  max-width: 45rem;
  min-width: 27rem;
  overflow: hidden;
  padding: 5rem 7rem 5rem 5rem;
  position: relative;
  text-decoration: none;
}
.project img{
  position: absolute;
  transition: all 0.5s;
}
.project h3{
  align-self: start;
  color: #FFF;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 5rem;
  margin: 0;
  padding: 0;
  text-align: left;
  transition: all 0.5s;
}
.bus{
  background: transparent linear-gradient(313deg, #37F0F0 0%, #0BC7FF 100%) 0% 0% no-repeat padding-box;
}
.busCellphone{
  left: 50%;
  margin-left: -140px;
  top: 5.5rem;
  transform: rotate(67deg);
}
.busBubble{
  left: 50%;
  margin-left: -20rem;
  top: 15rem;
  transform: scale(0.9);
  z-index: 2;
}
.edoo{
  background: #009FA0;
}
.edooCellphone{
  right: 2rem;
  top: 14rem;
  transform: rotate(8deg);

}
.edooBubble{
  left: 50%;
  margin-left: -25rem;
  top: 20rem;
  z-index: 2;
}
.distefano{
  background: #A619AA;
}
.distefanoCellphone{
  left: 50%;
  margin-left: -58rem;
  top: 14rem;
}
.projects > div{
  max-width: 40rem;
}
h4{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  color: #797979;
  margin: 0 0 1rem 0;
}
.projects h5{
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 6rem 0;
  color: #797979;
}
.triangleBottomWhite{
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background: #FFF;
  height: 12rem;
}
.triangleBottomWhiteContainer{
  width: 100%;
  filter: drop-shadow(0 -4px 12px #D6D6D6);
}
.about{
  background: #F5F5F5;
  position: relative;
  z-index: 3;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content{
  padding: 6rem 6rem 12rem 6rem;
  max-width: 130rem;
}
.about p{
  font-size: 2rem;
  margin: auto;
}
.about h4{
  margin: 4rem 0 6rem 0;
}
.diplomas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: outside url(img/minus.svg);
  margin-bottom: 3rem;
}
.diplomas a{
  display: inline-block;
  color: #000;
  font-size: 2rem;
  text-align: left;
  margin: 1rem 4rem 1rem 1rem;
  text-decoration: none;
}
.about p.emojis{
  font-size: 5rem;
}
.diplomas strong{
  margin-right: 1rem;
  text-decoration: underline;
}
.triangleTopWhite{
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
  background: #FFF;
  height: 12rem;
}
.triangleTopWhiteContainer{
  width: 100%;
  filter: drop-shadow(0 -4px 12px #D6D6D6);
}
.message{
  background: white;
  z-index: 4;
  position: relative;
}
.message textarea{
  background: #FFFFFF ;
  border: 1px solid #707070;
  border-radius: 4rem;
  width: 100%;
  outline: none;
  padding: 4rem;
  box-sizing: border-box;
  font-size: 3rem;
  resize: none;
  margin-top: 8rem;
}

::placeholder{
  color: #8B8B8B;
}
button{
  padding: 3rem 7rem;
  max-width: 40rem;
  color: #FFF;
  background: #1F1F24;
  font-size: 3rem;
  outline: none;
  border-radius: 5rem;
  border: none;
  float: right;
  margin-top: 5rem;
  transition: all 1s;
}
button:hover{
  box-shadow: 0px 3px 6px #00000029;
}
footer{
  background: #1F1F24;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer p{
  color: #FFF;
}
footer .content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .social{
  justify-content: space-between;
  width: 100%;
}
footer .social img{
  height: 3rem;
  width: auto;
}
footer .social a{
  margin-right: 0;
}
footer .social span{
  font-size: 3rem;
}
@media (min-width: 980px) {

  .products{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .recentWork p {
    padding: 0 8rem;
  }
  .hero{
    padding-top: 14rem;
  }
  .social a img{
    height: auto;
    width: 4rem;
  }
  footer .social img{
    height: 3rem;
    width: auto;
  }
  .social{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  .social a{
    font-size: 3.25rem;
    font-weight: 800;
    margin-bottom: 3rem;
  }
  p{
    font-size: 2.75rem;
    line-height: 4.5rem;
    margin: 1rem 0 1rem 0;
    max-width: 128rem;
  }
  .projects{
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
  }
  .project{
    border-radius: 2rem;
    box-sizing: border-box;
    display: block;
    height: 60rem;
    margin: 2rem;
    margin-bottom: 8rem;
    max-width: 35rem;
    min-width: 28rem;
    overflow: hidden;
    padding: 5rem;
    position: relative;
  }
  .project img{
    position: absolute;
  }
  .project h3{
    color: #FFF;
    font-size: 4.5rem;
    font-weight: 800;
    margin: 0;
    opacity: 0%;
    padding: 0;
    text-align: left;
    visibility: hidden;
  }
  .busCellphone{
    top: 10.5rem;
    transform: rotate(51deg);
  }
  .busBubble{
    left: 18rem;
    top: 1rem;
    transform: scale(0.9) rotate(9deg);
    z-index: 2;
  }
  .bus:hover .busCellphone{
    left: 45%;
    top: 23rem;
    transform: rotate(60deg);
  }
  .bus:hover .busBubble{
    top: 21rem;
    transform: scale(0.9);
  }
  .project:hover h3{
    opacity: 100%;
    visibility: visible;
  }

  .container{
    padding: 8rem;
  }
  .desktopNav{
    display: flex;
  }
  .desktopNav li{
    list-style: none;
  }
  .desktopNav a{
    font-size: 2.5rem;
    margin-left: 2rem;
    padding: 1.5rem;
    text-decoration: none;
  }
  .mobileNav{
    display: none;
  }
  .navIcon{
    display: none;
  }
  .social{
    flex-direction: row;
  }
  .social a{
    margin-right: 6rem;
  }
  h1{
    font-size: 9rem;
    line-height: 8rem;
  }
  h2{
    font-size: 3rem;
  }
  .edooCellphone{
    right: -5.5rem;
    top: 3rem;
    transform: rotate(-3deg) scale(0.9);
  }
  .edooBubble{
    right: -8rem;
    top: 19rem;
    transform: scale(0.87);
    z-index: 2;
  }
  .edoo:hover .edooCellphone{
    right: -5rem;
    right: -3.5rem;
    top: 20rem;
    transform: scale(0.95);
  }
  .edoo:hover .edooBubble{
    opacity: 0;
    top: 36rem;
    transform: scale(0.85);
  }
  .distefanoCellphone{
    right: -25.5rem;
    top: -8rem;
    transform: rotate(-3deg) scale(0.9);
  }
  .distefano:hover .distefanoCellphone{
    top: 16rem;
    transform: scale(1);
  }
  nav{
    padding: 8rem 10rem;
  }
}
@media (min-width: 1380px) {
  .container{
    max-width: 170rem;
    padding: 8rem 12rem 8rem 12rem;
  }
  h1{
    font-size: 12rem;
    line-height: 14rem;
  }
  h2{
    font-size: 4rem;
  }
}
